<section class="o_testimonials grid"
	{{#if section_id}}
	 id="{{section_id}}"
	{{/if}}>
	{{> m_section_title }}
	{{#each items}}
	<div class="testimonial-card col-4">
		<div class="stars"
			 style="--star: {{lucideSvgUrl 'star' '#ffea00' '#ffea00'}}"></div>
		{{#if text}}
		<p class="testimonial-text">{{{text}}}</p>
		{{/if}}
		<div class="testimonial-footer">
			{{#if author}}
			{{#if author.a_image}}
			{{> a_image a_image=author.a_image }}
			{{/if}}
			<div class="testimonial-author">
				{{#if author.name}}
				<p class="testimonial-name">{{author.name}}</p>
				{{/if}}
				{{#if author.description}}
				<p class="testimonial-description">{{author.description}}</p>
				{{/if}}
			</div>
			{{/if}}
		</div>
	</div>
	{{/each}}
	{{#if cta}}
	<div class="cta-section col-12">
		{{#if cta.text}}
		<p class="cta-text">{{{cta.text}}}</p>
		{{/if}}
		{{> a_button cta.a_button }}
	</div>
	{{/if}}
</section>
