<section class="o_image_grid grid"
	{{#if section_id}}
	 id="{{section_id}}"
	{{/if}}>
	{{> m_section_title }}
	{{#each items}}
	{{#if item_type}}
	<div class="item col-6{{#if rows}} rows_{{rows}}{{/if}}">
		{{> a_image_cover }}
		{{> a_button}}
	</div>
	{{else}}
	<{{#if href}}a href="{{href}}"{{else}}div{{/if}} class="item col-6{{#if rows}} rows_{{rows}}{{/if}}">
		{{> a_image_cover }}
		{{#if title}}
		<h3>{{{title}}}</h3>
		{{/if}}
		{{#if description}}
		<p>{{{description}}}</p>
		{{/if}}
		{{#if features}}
		<ul>
			{{#each features}}
			<li>{{> a_icon icon='check' }}{{this}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</{{#if href}}a{{else}}div{{/if}}>
	{{/if}}
	{{/each}}
</section>
